
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;400;700&display=swap');

:root{
    --light-color:#F7F3F2;
    --primary-color:#b90415;
    --primary-color-hover:#d3071b;
    --secondary-color:#103063;
    --secondary-color-hover:#143f85;
    --grey: #333;  
    --dark: #252529;
    --light:#fff;
    --red: #EF7D6A;
    --shadow: 0 1px 5px rgba(104,104,104,0.8);

}
*{ box-sizing: border-box;
    margin:0;
    padding: 0;
}
body, html{
    height: 100%;
    margin:0;
    font-family: Titillium Web, Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.8em;
    color: var(--grey);

}
 .pimg1, .pimg2, .pimg3{
     position: relative;
     opacity: 0.7;
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;

     /*   background-attachment: fixed = parallax */
      /*   background-attachment: scroll = normal */
     background-attachment: fixed;
 }

.pimg1{
    background-image: url("../Img/Moodboard.png");
    min-height: 100%;
  
}

.section{
    text-align: left;
    padding: 100px 80px;

}
.section-light{
    background-color: var(--light-color);
    color:var(--grey);

}
.section-dark{
    background-color: var(--dark);
    color:var(--light-color);

}

.ptext{
    position: absolute;
    top:50%;
    width: 100%;
    text-align:center;
    color:var(--dark);
    font-size: 2rem;
    letter-spacing: 8px;
    text-transform: uppercase;
     
}

.ptext .border{
    background-color:var(--dark);
    color: var(--light-color);
    padding:1rem;


}
/* .ptext .border.trans{
   background-color: transparent;


} */

@media(max-width: 568px){

    .pimg1, .pimg2, .pimg3{
        background-attachment: scroll;
    }

}

/* Grid Layout Css Properties*/


/* .wrapper{
   min-height: 100vh;
    display:grid;
    grid-template-columns:repeat(10,1fr) ;
    grid-template-rows:repeat(10,1fr);
    grid-gap:12px;
    /* grid-auto-flow: row-dense; */
/* }

p{
    margin: 0;
    margin-bottom: 12px;
    width: 100%;
    height: 100%;
    background-color: #96b6e954;
    transition: all 1s;


}


p:nth-of-type(2n){
    grid-column: span 3;
    grid-row: span 3;
    background-color: #854714;


}

p:nth-of-type(3n){
    grid-column: span 2;
    grid-row: span 2;
    margin-bottom: 40px;
    background-color: #851485;


}
p:nth-of-type(5n){
    grid-column: 2/7;
    grid-row: 2/3;
    margin-bottom: 100px;
    background-color: #6d8514;


}
.img-1{
    grid-column: 1/2;
    grid-row: 1/2;
    object-fit: cover;
   
} */ 

/* .img-2{
    background: url(/Img/96_Moma.png);
    min-height: 200px;
    min-width: 200px;
    background-size: cover;
    background-position: center;
    margin-top: 1rem;
} */
