
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;400;700&display=swap');

:root{
    --light-color:#F7F3F2;
    --primary-color:#b90415;
    --primary-color-hover:#d3071b;
    --secondary-color:#103063;
    --secondary-color-hover:#143f85;
    --grey: #333;  
    --dark: #252529;
    --light:#fff;
    --red: #f84829;
    --shadow: 0 1px 5px rgba(165, 161, 161, 0.63);
    --shadowtext: 0 2px 5px rgba(22, 53, 224, 0.8);

}
*{ box-sizing: border-box;
    margin:0;
    padding: 0;
}
body, html{
    height: 100%;
    margin:0;
    font-family: Titillium Web, Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.8em;
    color: var(--grey);
    background-color: var(--light-color);

}
h2 {
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 3px;
}
.text-rotate{
    transform-origin: left;
    transform: rotate(90deg);
    text-align:center;
    padding-top: 0.5rem;
    color: white;
    background-color:rgba(0, 0, 255, 0.534);
}

.ptext{
    position: relative;
    top:5vw;
    text-align:center;
    color:var(--grey);
    font-size: 8rem;
    font-weight: 600;
    letter-spacing: 8px;
    text-shadow:var(--shadow);
   
     
}




/* Grid Layout Css Properties*/


/* .wrapper{
   
   
    
} */

section{
    /* min-height: 100vh; */
    margin-top: 20vh;
    display:grid;
    grid-template-columns:repeat(10,1fr) ;
    grid-template-rows:repeat(20,1fr);
    grid-gap:12px;
  
    grid-auto-flow: row-dense;
}
section img{
    width:100%;
    margin: 0 auto;
    transition: all 1s;
    box-shadow: var(--shadow);
    justify-content: center;

}


section img:nth-of-type(2n){
    grid-column: span 2;
    margin-top: 10%;
    grid-row: span 2;
    width:115%;
   
}


section img:nth-of-type(3n){
    grid-column: span 1;
    grid-row: span 2;
    width:130%;
}

section img:nth-of-type(5n){

    grid-column: span 1;
    grid-row: span 2;
    margin-top: 45%;
    width:160%;
  
}
section img:nth-of-type(8n){
    grid-column: span 1;
    grid-row: span 3;
    width:180%;
    box-shadow: 0.3rem 0.3rem rgba(0, 0, 255, 0.534);
}

.space{
    background-color: var(--red);
    width: 100%;
    height:100%;
    grid-column: span 1;
    grid-row: span 1;
    box-shadow: var(--shadow);
}
.space:nth-of-type(2n){
    grid-column: span 2;
    grid-row: span 1;
    width:100%;
    height: 100%;
    
}
a{
padding: 0.3rem;
font-size: 1.5rem;
}