---
site_title: My First Elevently Site
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <title>{{Minimal-Crowded}}</title>
</head>
<body>
 <h1>{{Minimal-Crowded}}</h1>

 <hr>
 {{content | safe}} </hr>

 <small>
 </small>
</body>
</html>